.height
{
height: 300px;
}

.CalendarHeightWight{
    width: 450px;
}

.strike-color{
    background-color: #FEF9E9;
  }

  .table-header-color{
      background-color: #6F7E90;
  }

.Tabel-font{
  font-size: 10px;
}