.table thead th {
    vertical-align: top;
    border: 1px solid #f0f0f0;
    background-color: #f9f9f9;
}

.ui-table-tbody > tr {
    border: 1px solid #f0f0f0;
}

table th .pi {
    font-size: inherit;
}

.anchor-blank{
    cursor: pointer;
}