<footer class="text-center footer pt-3 shadow-element">
  <p class="disclaimer p-3 mx-4 mx-sm-5 my-0 rounded text-justify">
    The information contained in this website is for general information
    purposes only. The information is provided by truCharts.com and while we
    endeavour to keep the information up to date and correct, we make no
    representations or warranties of any kind, express or implied, about the
    completeness, accuracy, reliability, suitability or availability with
    respect to the website or the information, products, services, or related
    graphics contained on the website for any purpose. Any reliance you place on
    such information is therefore strictly at your own risk. In no event will we
    be liable for any loss or damage including without limitation, indirect or
    consequential loss or damage, or any loss or damage whatsoever arising from
    loss of data or profits arising out of, or in connection with, the use of
    this website.
  </p>
  <div
    class="d-flex align-items-center justify-content-center flex-column flex-sm-row mt-4 mt-sm-0"
  >
    <ul class="list-unstyled">
      <!-- <li class="d-inline-block px-3"><a href="#" class="bottom-link text-white"> About Us</a></li> -->
      <li class="d-inline-block px-3">
        <a href="https://trucharts.com/Privacy" class="bottom-link">Privacy</a>
      </li>
      <li class="d-inline-block px-3">
        <a href="https://trucharts.com/Terms" class="bottom-link"
          >Terms of Use</a
        >
      </li>
      <li class="d-inline-block px-3">
        <a href="https://trucharts.com/contact" class="bottom-link"
          >Contact Us</a>
      </li>
    </ul>
    <ul class="list-unstyled">
      <li class="d-inline-block px-2">
        <a [href]="youtube" class="bottom-link">
          <img src="../../../assets/dist/img/yt.png" />
        </a>
      </li>
      <li class="d-inline-block px-2">
        <a [href]="twitter" class="bottom-link">
          <img src="../../../assets/dist/img/tw.png" />
        </a>
      </li>
      <li class="d-inline-block px-2">
        <a [href]="truchartscom" class="bottom-link">
          <img src="../../../assets/dist/img/blog.png" />
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom-line py-3">
    <p class="m-0 email">© {{ year }} www.trucharts.com</p>
  </div>
</footer>
