<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <div class="header">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light ml-0 px-4 bg-transparent border-bottom">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="../../index3.html" class="nav-link small-link py-0">Pricing</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link small-link py-0 pr-0">Login/Register</a>
                </li>
            </ul>
        </nav>
        <nav
            class="main-header navbar navbar-expand navbar-white navbar-light ml-0 px-4 bg-transparent border-bottom-0">
            <ul class="navbar-nav">
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="../../index3.html" class="nav-link h-auto px-0"><img src="../assets/dist/img/logo.png"></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link strong-link" data-toggle="dropdown" href="#">
                        Why truCharts
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link strong-link" data-toggle="dropdown" href="#">
                        Videos
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link strong-link pr-0 pr-sm-4" data-toggle="dropdown" href="#">
                        Blogs
                    </a>
                </li>
                <li class="nav-item d-none d-sm-block">
                    <a class="btn btn-outline-primary btn-sm px-3 border-0 strong-link mt-1 bg-white">
                        Start Free Trial
                    </a>
                </li>
            </ul>
        </nav>
        <div class="d-block d-sm-none px-5 mx-5">
            <a class="btn btn-outline-primary btn-block btn-sm px-3 border-0 strong-link mt-1 bg-white">
                Start Free Trial</a>
        </div>
        <section class="intro mt-5 pl-4 pr-4 pr-xl-0">
            <div class="row">
                <div class="col-12 col-xl-6 text-center text-md-left">
                    <h2 class="text-white mb-4 pl-2">Unlimited Enquiry Trading with a Flat Fee</h2>
                    <div class="row">
                        <div class="col px-3">
                            <div class="card rounded-0 sell-card">
                                <div class="card-body">
                                    <h5 class="text-primary text-center"><strong>Premium</strong></h5>
                                    <h4 class="text-center"><strong>$29.95/month</strong></h4>
                                    <ul class="list-unstyled mt-3 mb-0 text-left">
                                        <li class="py-1">
                                            <i class="fas fa-check text-green mr-2 check-icon"></i>
                                            <strong class="mr-2">Unlimited Trading</strong>
                                            <i class="fas fa-star text-warning text-small"></i>
                                        </li>
                                        <hr class="my-2" />
                                        <li class="py-1">
                                            <i class="fas fa-check text-green mr-2 check-icon"></i>
                                            Technical Analysis
                                        </li>
                                        <hr class="my-2" />
                                        <li class="py-1">
                                            <i class="fas fa-check text-green mr-2 check-icon"></i>
                                            50+ Indicators
                                        </li>
                                        <hr class="my-2" />
                                        <li class="py-1">
                                            <i class="fas fa-check text-green mr-2 check-icon"></i>
                                            Custom Scans
                                        </li>
                                        <hr class="my-2" />
                                        <li class="py-1">
                                            <i class="fas fa-check text-green mr-2 check-icon"></i>
                                            Buy/Sell Signals
                                        </li>
                                        <hr class="my-2" />
                                        <li class="py-1 text-center mt-3">
                                            <button class="btn btn-primary btn-primary-dark px-5">Subscribe</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col px-3">
                            <div class="card rounded-0 sell-card">
                                <div class="card-body">
                                    <h5 class="text-primary text-center"><strong>Basic</strong></h5>
                                    <h4 class="text-center"><strong>$19.95/month</strong></h4>
                                    <ul class="list-unstyled mt-3 mb-0 text-left">
                                        <li class="py-1">
                                            <i class="fas fa-times text-danger mr-2 check-icon"></i>
                                            Unlimited Trading
                                        </li>
                                        <hr class="my-2" />
                                        <li class="py-1">
                                            <i class="fas fa-check text-green mr-2 check-icon"></i>
                                            Technical Analysis
                                        </li>
                                        <hr class="my-2" />
                                        <li class="py-1">
                                            <i class="fas fa-check text-green mr-2 check-icon"></i>
                                            50+ Indicators
                                        </li>
                                        <hr class="my-2" />
                                        <li class="py-1">
                                            <i class="fas fa-check text-green mr-2 check-icon"></i>
                                            Custom Scans
                                        </li>
                                        <hr class="my-2" />
                                        <li class="py-1">
                                            <i class="fas fa-check text-green mr-2 check-icon"></i>
                                            Buy/Sell Signals
                                        </li>
                                        <hr class="my-2" />
                                        <li class="py-1 text-center mt-3">
                                            <button class="btn btn-primary btn-primary-dark px-5">Subscribe</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <ul class="text-white text-center px-0">
                                <li class="d-inline-block mr-2">
                                    <span class="text-small">Unlimited Trading</span>
                                    <p>TruCharts @ <strong>$29.95</strong></p>
                                </li>
                                <span class="mr-2">|</span>
                                <li class="d-inline-block mr-2">
                                    <span>&nbsp;</span>
                                    <p>Fidelity % <strong>$99</strong></p>
                                </li>
                                <span class="mr-2">|</span>
                                <li class="d-inline-block mr-2">
                                    <span class="text-small">For 20 trades</span>
                                    <p>TDAAmeritrade @ <strong>$139</strong></p>
                                </li>
                                <span class="mr-2">|</span>
                                <li class="d-inline-block">
                                    <span>&nbsp;</span>
                                    <p>Etrade % <strong>$139</strong></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="../assets/dist/img/header-chart.png" class="w-100 h-100" />
                </div>
            </div>
        </section>
    </div>
    <div class="content-wrapper ml-0">

        <div class="content">
            <section class="bg-content px-0 px-md-5 py-3 py-md-5">
                <h2 class="text-center">Our unique strategies</h2>
                <div class="row mt-3 mt-md-5">
                    <div class="col-12 col-lg-6">
                        <div class="info-box bg-transparent border-0 shadow-none px-5">
                            <div class="d-none d-md-block">
                                <span class="info-box-icon rounded-circle"><i class="fas fa-chart-line"></i></span>
                            </div>
                            <div class="info-box-content">
                                <h4><strong>TC Fast Trade Startegy</strong></h4>
                                <span class="info-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aliquam
                                    placerat
                                    ultricies massa, ac aliquam tortor. Nulla ut dui varius, suscipit dolor at, molestie
                                    arcu.</span>
                            </div>
                        </div>
                        <div class="info-box bg-transparent border-0 shadow-none px-5 mt-3 mt-md-5">
                            <div class="d-none d-md-block">
                                <span class="info-box-icon rounded-circle"><i class="fas fa-chart-line"></i></span>
                            </div>
                            <div class="info-box-content">
                                <h4><strong>TC Fast Trade Startegy</strong></h4>
                                <span class="info-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aliquam
                                    placerat
                                    ultricies massa, ac aliquam tortor. Nulla ut dui varius, suscipit dolor at, molestie
                                    arcu.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="info-box bg-transparent border-0 shadow-none px-5">
                            <div class="d-none d-md-block">
                                <span class="info-box-icon rounded-circle"><i class="fas fa-chart-line"></i></span>
                            </div>
                            <div class="info-box-content">
                                <h4><strong>TC Fast Trade Startegy</strong></h4>
                                <span class="info-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aliquam
                                    placerat
                                    ultricies massa, ac aliquam tortor. Nulla ut dui varius, suscipit dolor at, molestie
                                    arcu.</span>
                            </div>
                        </div>
                        <div class="info-box bg-transparent border-0 shadow-none px-5 mt-3 mt-md-5">
                            <div class="d-none d-md-block">
                                <span class="info-box-icon rounded-circle"><i class="fas fa-chart-line"></i></span>
                            </div>
                            <div class="info-box-content">
                                <h4><strong>TC Fast Trade Startegy</strong></h4>
                                <span class="info-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aliquam
                                    placerat
                                    ultricies massa, ac aliquam tortor. Nulla ut dui varius, suscipit dolor at, molestie
                                    arcu.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <button class="btn btn-lg btn-primary btn-primary-dark action-btn"><strong>Get
                                Started</strong></button>
                    </div>
                </div>
            </section>

            <section class="px-4 px-md-5 py-3 py-md-5 text-center">
                <h2>Pick a Technical Stock Report</h2>
                <div class="d-block mt-4">
                    <p-dropdown [options]="technicals"
                        styleClass="pr-0 pr-md-5 pl-0 pl-md-3 py-1 report-selectbox-wrapper"></p-dropdown>
                </div>
                <div class="d-block mt-4"><button class="btn btn-lg btn-primary btn-primary-dark action-btn"><strong>Get
                            Stock</strong></button>
                </div>
                <div class="d-block mt-4"><a href="#" class="dark-link">
                        <h4 class="d-inline-block">Dynamic Technical Scanner</h4>
                    </a></div>
            </section>

            <section class="bg-content p-3 p-md-5">
                <h2 class="text-center">Top Numbers</h2>
                <div class="row mt-5">
                    <div class="col-12 col-lg-4 px-3">
                        <div class="card stripe-table-data shadow-element">
                            <div class="card-header table-header rounded-0 pb-0">
                                <h5>Top Gainers</h5>
                            </div>
                            <div class="card-body p-0">
                                <p-table [columns]="cols" [value]="tableData">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr>
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-3 mt-lg-0 px-3">
                        <div class="card stripe-table-data shadow-element">
                            <div class="card-header table-header rounded-0 pb-0">
                                <h5>Top Losers</h5>
                            </div>
                            <div class="card-body p-0">
                                <p-table [columns]="cols" [value]="tableData">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr>
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-3 mt-lg-0 px-3">
                        <div class="card stripe-table-data shadow-element">
                            <div class="card-header table-header rounded-0 pb-0">
                                <h5>Top Traded</h5>
                            </div>
                            <div class="card-body p-0">
                                <p-table [columns]="cols" [value]="tableData">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr>
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="p-0 p-md-5">
                <h2 class="text-center">Prescanned Results</h2>
                <div class="row mt-0 mx-0 mt-lg-5 mx-lg-5">
                    <div class="col-12 col-lg-6 px-3">
                        <h5 class="text-center"><strong>Bullish</strong></h5>
                        <div class="card stripe-table-data rounded-0 mb-2">
                            <div class="card-body p-0 tab-content">
                                <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active px-3 px-lg-5" id="custom-content-below-home-tab"
                                            data-toggle="pill" href="#bullish1stTab" role="tab"
                                            aria-controls="custom-content-below-home" aria-selected="true">NYSE</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-3 px-lg-5" id="custom-content-below-profile-tab"
                                            data-toggle="pill" href="#bullish2ndTab" role="tab"
                                            aria-controls="custom-content-below-profile"
                                            aria-selected="false">NASDAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-3 px-lg-5" id="custom-content-below-messages-tab"
                                            data-toggle="pill" href="#bullish3thTab" role="tab"
                                            aria-controls="custom-content-below-messages" aria-selected="false">AMEX</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="bullish1stTab" role="tabpanel"
                                        aria-labelledby="custom-content-below-home-tab">
                                        <p-table [columns]="prescannedResultCols" [value]="prescannedResultData">
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="text-left">Indicators</th>
                                                    <th class="text-left" style="width: 100px;">Result</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                <tr>
                                                    <td *ngFor="let col of columns" class="text-left">
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <div class="tab-pane fade" id="bullish2ndTab" role="tabpanel"
                                        aria-labelledby="custom-content-below-profile-tab">
                                        <p-table [columns]="prescannedResultCols" [value]="prescannedResultData">
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="text-left">Indicators</th>
                                                    <th class="text-left" style="width: 100px;">Result</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                <tr>
                                                    <td *ngFor="let col of columns" class="text-left">
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <div class="tab-pane fade" id="bullish3thTab" role="tabpanel"
                                        aria-labelledby="custom-content-below-messages-tab">
                                        <p-table [columns]="prescannedResultCols" [value]="prescannedResultData">
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="text-left">Indicators</th>
                                                    <th class="text-left" style="width: 100px;">Result</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                <tr>
                                                    <td *ngFor="let col of columns" class="text-left">
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-block px-3">
                            <a href="#" class="small-link dot-link"><strong>View more</strong></a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mt-5 mt-lg-0 px-3">
                        <h5 class="text-center"><strong>Bearish</strong></h5>
                        <div class="card stripe-table-data rounded-0 mb-2">
                            <div class="card-body p-0 tab-content">
                                <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active px-3 px-lg-5" id="custom-content-below-home-tab"
                                            data-toggle="pill" href="#bearish1stTab" role="tab"
                                            aria-controls="custom-content-below-home" aria-selected="true">NYSE</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-3 px-lg-5" id="custom-content-below-profile-tab"
                                            data-toggle="pill" href="#bearish2ndTab" role="tab"
                                            aria-controls="custom-content-below-profile"
                                            aria-selected="false">NASDAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link px-3 px-lg-5" id="custom-content-below-messages-tab"
                                            data-toggle="pill" href="#bearish3thTab" role="tab"
                                            aria-controls="custom-content-below-messages" aria-selected="false">AMEX</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="bearish1stTab" role="tabpanel"
                                        aria-labelledby="custom-content-below-home-tab">
                                        <p-table [columns]="prescannedResultCols" [value]="prescannedResultData">
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="text-left">Indicators</th>
                                                    <th class="text-left" style="width: 100px;">Result</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                <tr>
                                                    <td *ngFor="let col of columns" class="text-left">
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <div class="tab-pane fade" id="bearish2ndTab" role="tabpanel"
                                        aria-labelledby="custom-content-below-profile-tab">
                                        <p-table [columns]="prescannedResultCols" [value]="prescannedResultData">
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="text-left">Indicators</th>
                                                    <th class="text-left" style="width: 100px;">Result</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                <tr>
                                                    <td *ngFor="let col of columns" class="text-left">
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <div class="tab-pane fade" id="bearish3thTab" role="tabpanel"
                                        aria-labelledby="custom-content-below-messages-tab">
                                        <p-table [columns]="prescannedResultCols" [value]="prescannedResultData">
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th class="text-left">Indicators</th>
                                                    <th class="text-left" style="width: 100px;">Result</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                                <tr>
                                                    <td *ngFor="let col of columns" class="text-left">
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-block px-3">
                            <a href="#" class="small-link dot-link"><strong>View more</strong></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="site-tour p-0 p-md-5 pb-3 mt-5">
                <h2 class="text-center text-white">Site Tour</h2>
                <div class="row mt-3 mt-lg-5">
                    <div class="col-12 col-lg-4 px-3">
                        <app-youtube-video-player [VideoId]="'tgbNymZ7vqY'"></app-youtube-video-player>
                    </div>
                    <div class="col-12 col-lg-4 px-3">
                        <app-youtube-video-player [VideoId]="'tgbNymZ7vqY'"></app-youtube-video-player>
                    </div>
                    <div class="col-12 col-lg-4 px-3">
                        <app-youtube-video-player [VideoId]="'tgbNymZ7vqY'"></app-youtube-video-player>
                    </div>
                </div>
                <div class="d-block mt-3 mt-lg-5 text-center">
                    <a href="#" class="small-link dot-link">View more</a>
                </div>
            </section>
            <footer class="text-center footer">
                <ul class="list-unstyled mt-5">
                    <li class="d-inline-block px-3"><a href="/subscript" class="bottom-link"> Pricing</a></li>
                    <li class="d-inline-block px-3"><a href="/Privacy" class="bottom-link">Privacy</a></li>
                    <li class="d-inline-block px-3"><a href="/terms" class="bottom-link">Terms of Use</a></li>
                    <li class="d-inline-block px-3"><a href="/contact" class="bottom-link">Contact Us</a></li>
                </ul>
                <p class="disclaimer px-5 py-0 py-lg-5">The information contained in this website is for general
                    information purposes
                    only. The
                    information is
                    provided by truCharts.com and while we endeavour to keep the information up to date and correct,
                    we make
                    no representations or warranties of any kind, express or implied, about the completeness, accuracy,
                    reliability, suitability or availability with respect to the website or the information, products,
                    services,
                    or related graphics contained on the website for any purpose. Any reliance you place on such
                    information is
                    therefore strictly at your own risk. In no event will we be liable for any loss or damage including
                    without
                    limitation, indirect or consequential
                    loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out
                    of, or in
                    connection with, the use of this website.</p>
                <p>© 2023 www.trucharts.com</p>
            </footer>
        </div>
    </div>

    <!-- <footer class="main-footer">
    </footer> -->
    <!-- <aside class="control-sidebar control-sidebar-dark">
    </aside> -->
</div>