<main class="main-homepage">
	<!-- ==== Hero Area :: Start ==== -->
	<section class="hero--area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<!-- hero content -->
					<div class="hero--content">
						<h1>
							<!-- Our Powerful <span>ProfitPlus</span> Screener Tell You When to Sell, When to Buy &
							What to Buy -->
							Your Shortcut toProfitable Trading.</h1>
						<h4>Discover what to buy, when to buy, and when to sell. Try it for yourself and unlock smarter trading now!</h4>
						
						<form>
							<div class="input--group">
								<input type="text" placeholder="Search Symbol & Company" />
							</div>
							<button type="submit" class="button">Try For Free</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<!-- hero img -->
					<div class="hero--img">
						<img class="img-fluid" src="assets/new-layout/img/hero.png" alt="hero-img" />
						<div class="img--stock">
							<img src="assets/new-layout/img/stock.svg" alt="stock" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== Hero Area :: End ==== -->

	<!-- ==== Choose Area :: Start ==== -->
	<section class="choose--area">
		<div class="container">
			<div class="section--tilte">
				<h2>Why Choose <span>TruCharts</span></h2>
				<p>
					Most comprehensive site encompassing all aspects of the market. Enjoy our technical
					research & tools to boost performance of your stock portfolio
				</p>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="choose--one">
						<div class="row align-items-center">
							<div class="col-md-6 mt_30">
								<div class="choose--content">
									<!-- <p>When to buy and when to sell a stock?</p> -->
									<!-- <h2>Use profitable buy and sell signal stategy charts</h2> -->
									<h2>TC Fast Strategy Screener</h2>
									<span>
										<!-- Real time technical stock charts with quotes, fundamental data and
										newsAutomated Strategies with buy and sell signals for any stock .Profitable
										Tested Buy/Sell Signal Strategies for Members. -->
										Introducing Our TC Fast Strategy Screener — your key to confident and profitable stock trading. Our user-friendly tool enhances stock charts with clear buy and sell indicators, simplifying decision-making for traders of all levels. Make informed moves with visual cues, turning market analysis into action and profit effortlessly.

									</span>
									<a href="#" class="button">Explore Stock Charts</a>
								</div>
							</div>
							<div class="col-md-6 mt_30">
								<div class="choose--img">
									<img
										class="img-fluid"
										src="assets/new-layout/img/choose1.png"
										alt="choose--img"
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="choose--two mt_95">
						<div class="row align-items-center row_reverse">
							<div class="col-md-6 mt_30">
								<div class="choose--content ml_auto">
									<!-- <p>Do you know how to find the best stocks for Investment?</p> -->
									<h2>Use Trucharts Dynamic Technical Stock Screener</h2>
									<span
										>Real time technical stock charts with quotes, fundamental data and
										newsAutomated Strategies with buy and sell signals for any stock .Profitable
										Tested Buy/Sell Signal Strategies for Members.</span
									>
									<a href="#" class="button">Explore Stock Screener</a>
								</div>
							</div>
							<div class="col-md-6 mt_30">
								<div class="choose--img">
									<img
										class="img-fluid"
										src="assets/new-layout/img/choose2.png"
										alt="choose--img"
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="choose--three mt_95">
						<div class="row align-items-center">
							<div class="col-md-6 mt_30">
								<div class="choose--content">
									<!-- <p>How to evaluate your trading strategies?</p> -->
									<h2>Do profitability research on technical indicators in Backtest tool.</h2>
									<span
										>Backtest will help you evaluate your trading strategies before applying them to
										the real market.</span
									>
									<a href="#" class="button">Explore Backtesting </a>
								</div>
							</div>
							<div class="col-md-6 mt_30">
								<div class="choose--img">
									<img
										class="img-fluid"
										src="assets/new-layout/img/choose3.png"
										alt="choose--img"
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="choose--four mt_95">
						<div class="row align-items-center row_reverse">
							<div class="col-md-6 mt_30">
								<div class="choose--content ml_auto">
									<!-- <p>Do you know how to find the best stocks for Investment?</p> -->
									<h2>Use daily Technical Screened Stocks Reports</h2>
									<span
										>Bullish and Bearish Technical Screened Stock lists with mouseover charts.</span
									>
									<a href="#" class="button">Explore Screened Reports</a>
								</div>
							</div>
							<div class="col-md-6 mt_30">
								<div class="choose--img">
									<img
										class="img-fluid"
										src="assets/new-layout/img/choose4.png"
										alt="choose--img"
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="choose--five mt_95">
						<div class="row align-items-center">
							<div class="col-md-6 mt_30">
								<div class="choose--content">
									<!-- <p>How do I manage my Stock Portfolio?</p> -->
									<h2>Now tracking your portfolio is easy with Daily Trucharts Technical Alerts</h2>
									<span
										>We send daily Technical Alerts emails for every stock in your portfolio, so
										your investment keeps growing.</span
									>
									<a href="#" class="button">Maintain Your Stock Portfolio</a>
								</div>
							</div>
							<div class="col-md-6 mt_30">
								<div class="choose--img">
									<img
										class="img-fluid"
										src="assets/new-layout/img/choose5.png"
										alt="choose--img"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== Choose Area :: End ==== -->

	<!-- ==== Pricing Area :: Start ==== -->
	<section class="pricing--area">
		<div class="container">
			<div class="pricing--title text-center">
				<div class="heading--and--tab">
					<h2>Pricing</h2>
					<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
						<li class="nav-item">
							<button
								class="nav-link active"
								id="pills-monthly-tab"
								data-bs-toggle="pill"
								data-bs-target="#pills-monthly"
							>
								Monthly
							</button>
						</li>
						<li class="nav-item">
							<button
								class="nav-link"
								id="pills-annual-tab"
								data-bs-toggle="pill"
								data-bs-target="#pills-annual"
							>
								Annual
							</button>
						</li>
					</ul>
				</div>
				<p>
					We offer the best stock tools for your money to skyrocket your portfolio. Try risk-free or choose your plan. 

				</p>
			</div>
			<div class="row">
				<div class="pricing--tab--content">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-monthly">
							<div class="row justify-content-center">
								<div class="col-lg-10">
									<div class="row justify-content-center">
										<div class="col-xxl-4 col-md-6 mt_30">
											<div class="price--box">
												<div class="plan--area">
													<div class="plan--name">
														<h3>Free Trial</h3>
														<p>Choose your plan</p>
													</div>
													<div class="plan--price">
														<h3>Free</h3>
														<p>For 14 Days</p>
													</div>
												</div>
												<div class="feature--area">
													<h4>Get these powerful features</h4>
													<ul class="feature">
														<li>
															<div class="circle"></div>
															<p>Realtime live quotes</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Realtime Stockcharts (>20+ years charts)</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fundamental Data w/Charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Multiple Chart Technical Indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Live Top Stocks Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Detailed Dividend data</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Customizable Stock Screener</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fastest Backtesting w/technical indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Custom Watchlists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Algo Stock Buy/Sell Signals on charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Daily EOD Screened Stock Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Ad Free</p>
														</li>
													</ul>
													<a href="#" class="button w-100">Get Your Free Trial</a>
												</div>
											</div>
										</div>
										<div class="col-xxl-4 col-md-6 mt_30">
											<div class="price--box active">
												<div class="plan--area">
													<div class="plan--name">
														<h3>Standard</h3>
														<!-- <p>Choose your plan</p> -->
													</div>
													<div class="plan--price">
														<h3>$29</h3>
														<p>Per month</p>
													</div>
												</div>
												<div class="feature--area">
													<h4>Get these powerful features</h4>
													<ul class="feature">
														<li>
															<div class="circle"></div>
															<p>Realtime live quotes</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Realtime Stockcharts (>20+ years charts)</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fundamental Data w/Charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Multiple Chart Technical Indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Live Top Stocks Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Detailed Dividend data</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Customizable Stock Screener</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fastest Backtesting w/technical indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Custom Watchlists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Algo Stock Buy/Sell Signals on charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Daily EOD Screened Stock Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Ad Free</p>
														</li>
													</ul>
													<a href="#" class="button w-100">Get Started</a>
												</div>
											</div>
										</div>
										<div class="col-xxl-4 col-md-6 mt_30">
											<div class="price--box">
												<div class="plan--area">
													<div class="plan--name">
														<h3>Premium</h3>
														<!-- <p>Choose your plan</p> -->
													</div>
													<div class="plan--price">
														<h3>$49</h3>
														<p>Per month</p>
													</div>
												</div>
												<div class="feature--area">
													<h4>Get these powerful features</h4>
													<ul class="feature">
														<li>
															<div class="circle"></div>
															<p>Realtime live quotes</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Realtime Stockcharts (>20+ years charts)</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fundamental Data w/Charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Multiple Chart Technical Indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Live Top Stocks Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Detailed Dividend data</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Customizable Stock Screener</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fastest Backtesting w/technical indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Custom Watchlists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Algo Stock Buy/Sell Signals on charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Daily EOD Screened Stock Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Ad Free</p>
														</li>
													</ul>
													<a href="#" class="button w-100">Get Started</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-annual">
							<div class="row justify-content-center">
								<div class="col-md-10">
									<div class="row justify-content-center">
										<div class="col-xxl-4 col-md-6 mt_30">
											<div class="price--box">
												<div class="plan--area">
													<div class="plan--name">
														<h3>Free Trial</h3>
														<!-- <p>Choose your plan</p> -->
													</div>
													<div class="plan--price">
														<h3>Free</h3>
														<p>For 14 Days</p>
													</div>
												</div>
												<div class="feature--area">
													<h4>Get these powerful features</h4>
													<ul class="feature">
														<li>
															<div class="circle"></div>
															<p>Realtime live quotes</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Realtime Stockcharts (>20+ years charts)</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fundamental Data w/Charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Multiple Chart Technical Indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Live Top Stocks Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Detailed Dividend data</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Customizable Stock Screener</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fastest Backtesting w/technical indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Custom Watchlists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Algo Stock Buy/Sell Signals on charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Daily EOD Screened Stock Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Ad Free</p>
														</li>
													</ul>
													<a href="#" class="button w-100">Get Your Free Trial
													</a>
												</div>
											</div>
										</div>
										<div class="col-xxl-4 col-md-6 mt_30">
											<div class="price--box active">
												<div class="plan--area">
													<div class="plan--name">
														<h3>Standard</h3>
														<!-- <p>Choose your plan</p> -->
													</div>
													<div class="plan--price">
														<h3>$23</h3>
														<p>Per month</p>
														<p>Paid Annually</p>
													</div>
												</div>
												<div class="feature--area">
													<h4>Get these powerful features</h4>
													<ul class="feature">
														<li>
															<div class="circle"></div>
															<p>Realtime live quotes</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Realtime Stockcharts (>20+ years charts)</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fundamental Data w/Charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Multiple Chart Technical Indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Live Top Stocks Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Detailed Dividend data</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Customizable Stock Screener</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fastest Backtesting w/technical indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Custom Watchlists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Algo Stock Buy/Sell Signals on charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Daily EOD Screened Stock Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Ad Free</p>
														</li>
													</ul>
													<a href="#" class="button w-100">Get Started
													</a>
												</div>
											</div>
										</div>
										<div class="col-xxl-4 col-md-6 mt_30">
											<div class="price--box">
												<div class="plan--area">
													<div class="plan--name">
														<h3>Premium</h3>
														<!-- <p>Choose your plan</p> -->
													</div>
													<div class="plan--price">
														<h3>$39</h3>
														<p>Per month</p>
														<p>Paid Annually</p>
													</div>
												</div>
												<div class="feature--area">
													<h4>Get these powerful features</h4>
													<ul class="feature">
														<li>
															<div class="circle"></div>
															<p>Realtime live quotes</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Realtime Stockcharts (>20+ years charts)</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fundamental Data w/Charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Multiple Chart Technical Indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Live Top Stocks Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Detailed Dividend data</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Customizable Stock Screener</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Fastest Backtesting w/technical indicators</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Custom Watchlists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Algo Stock Buy/Sell Signals on charts</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Daily EOD Screened Stock Lists</p>
														</li>
														<li>
															<div class="circle"></div>
															<p>Ad Free</p>
														</li>
													</ul>
													<a href="#" class="button w-100">Get Started
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== Pricing Area :: End ==== -->

	<!-- ==== Testimonial Area :: Start ==== -->
	<section class="testimonial--area">
		<div class="container">
			<div class="section--tilte">
				<h2>What our members are saying about <span>TruCharts Membership</span></h2>
				<p>
					At TruCharts, we're committed to providing the best possible experience for our customers.
					Here's what some of them have to say
				</p>
			</div>
			<!-- testimonial slider -->
			<div class="owl-carousel testi--slider">
				<div class="item">
					<!-- slider box -->
					<div class="testi--box">
						<div class="rating--box">
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
						</div>
						<h3>
							I'm so impressed with the level of support I received from the NeedSite team. They
							were patient, knowledgeable, and went above and beyond to help me create the website.
						</h3>
						<div class="moderator--area">
							<img src="assets/new-layout/img/testi.png" />
							<div class="info">
								<h4>Jerry Adams</h4>
								<p>Sep 8, 202316:17 GMT+6</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi--box">
						<div class="rating--box">
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
						</div>
						<h3>
							I'm so impressed with the level of support I received from the NeedSite team. They
							were patient, knowledgeable, and went above and beyond to help me create the website.
						</h3>
						<div class="moderator--area">
							<img src="assets/new-layout/img/testi.png" />
							<div class="info">
								<h4>Jerry Adams</h4>
								<p>Sep 8, 202316:17 GMT+6</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi--box">
						<div class="rating--box">
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
						</div>
						<h3>
							I'm so impressed with the level of support I received from the NeedSite team. They
							were patient, knowledgeable, and went above and beyond to help me create the website.
						</h3>
						<div class="moderator--area">
							<img src="assets/new-layout/img/testi.png" />
							<div class="info">
								<h4>Jerry Adams</h4>
								<p>Sep 8, 202316:17 GMT+6</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi--box">
						<div class="rating--box">
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
							<img src="assets/new-layout/img/star.svg" alt="star" />
						</div>
						<h3>
							I'm so impressed with the level of support I received from the NeedSite team. They
							were patient, knowledgeable, and went above and beyond to help me create the website.
						</h3>
						<div class="moderator--area">
							<img src="assets/new-layout/img/testi.png" />
							<div class="info">
								<h4>Jerry Adams</h4>
								<p>Sep 8, 202316:17 GMT+6</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== Testimonial Area :: End ==== -->

	<!-- ==== Faq Area :: Start ==== -->
	<section class="faq--area">
		<div class="container">
			<div class="section--tilte">
				<h2>Frequently <span>Asked Questions</span></h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="faq--accordion">
						<!-- accordion -->
						<div class="accordion" id="accordionExample">
							<!-- accordion item -->
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button
										class="accordion-button"
										data-bs-toggle="collapse"
										data-bs-target="#collapseOne"
										aria-expanded="true"
									>
										<p>How does the free 1 month trail work trucharts ?</p>
									</button>
								</h2>
								<div
									id="collapseOne"
									class="accordion-collapse collapse show"
									data-bs-parent="#accordionExample"
								>
									<div class="accordion-body">
										<p>
											With our trial, the first month of service is totally free. You may upgrade or
											downgrade at any point during the free month by activating membership after
											paying subscription fees. After 14 days of free trial period, we will charge
											your credit card for another month of whichever service level you last
											selected.
										</p>
									</div>
								</div>
							</div>
							<!-- accordion item -->
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button
										class="accordion-button collapsed"
										data-bs-toggle="collapse"
										data-bs-target="#collapseTwo"
										aria-expanded="false"
									>
										<p>How much does it cost to subscribe to trucharts ?</p>
									</button>
								</h2>
								<div
									id="collapseTwo"
									class="accordion-collapse collapse"
									data-bs-parent="#accordionExample"
								>
									<div class="accordion-body">
										<p>
											With our trial, the first month of service is totally free. You may upgrade or
											downgrade at any point during the free month by activating membership after
											paying subscription fees. After 14 days of free trial period, we will charge
											your credit card for another month of whichever service level you last
											selected.
										</p>
									</div>
								</div>
							</div>
							<!-- accordion item -->
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button
										class="accordion-button collapsed"
										data-bs-toggle="collapse"
										data-bs-target="#collapseThree"
										aria-expanded="false"
									>
										<p>Can i change my subscription plan during 1 month trail period ?</p>
									</button>
								</h2>
								<div
									id="collapseThree"
									class="accordion-collapse collapse"
									data-bs-parent="#accordionExample"
								>
									<div class="accordion-body">
										<p>
											Yes. With a few simple clicks, you can cancel, upgrade, or downgrade your subscription at any time.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== Faq Area :: End ==== -->

	<!-- ==== Tradier Area :: Start ==== -->
	<section class="tradier--area">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-md-7 mt_30">
					<div class="tradier--content">
						<h2>
							Tradier Brokerage Partner offering unlimited flat fee trading with Trucharts Premium
						</h2>
						<a href="#" class="button">Get Started</a>
					</div>
				</div>
				<div class="col-xl-6 col-md-5 mt_30 position-static">
					<div class="tradier--box">
						<img src="assets/new-layout/img/tradier-logo.svg" alt="tradier-logo" />
						<p>
							TruCharts is a Tradier Brokerage Partner offering unlimited flat fee (stock/options)
							trading from our site (with an approved opened/funded account and includes full site
							access).
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== Tradier Area :: End ==== -->
</main>
